header {
    text-align: center;
    padding: 18px;
    background-color: var(--background-header, #fff);
}

.back {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    svg {
        path {
            fill: var(--text-color, #fff);
        }
    }
}

.title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 15px 15px 0 15px;
    padding: 0 50px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        flex: 1 1 auto;
    }
}